<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to SIH 2024</h1>
        <div class="sign-in-form">
            <h2>Sign In</h2>
            <!-- Update the action attribute to "/login" -->
            <form action="/login" method="post">
                <label for="id">ID:</label>
                <input type="text" id="id" name="id" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>
